//淡入mixin
@mixin mixin-fade-move-in($name, $direction, $speed-in, $speed-out, $distance, $transition-fun){
  .transition-from-#{$name}-enter-active{
    transition: opacity $speed-in $transition-fun, transform $speed-in $transition-fun;
  }
  .transition-from-#{$name}-leave-active{
    transition: opacity $speed-out $transition-fun, transform $speed-out $transition-fun;
  }
  .transition-from-#{$name}-enter, .transition-from-#{$name}-leave-to{
    opacity: 0;
    @if($direction == top or $direction == bottom){
      transform: translateY($distance);
    }@else {
      transform: translateX($distance);
    }
  }
  .transition-from-#{$name}-enter-to, .transition-from-#{$name}-leave{
    opacity: 1;
    @if($direction == top or $direction == bottom){
      transform: translateY(0);
    }@else {
      transform: translateX(0);
    }
  }
}

$fade-in-time: 1s;
$fade-in-distance: 10px;
//从顶部淡入
@include mixin-fade-move-in(top, top, $fade-in-time, $fade-in-time, -#{$fade-in-distance}, ease-out);
//从底部淡入
@include mixin-fade-move-in(bottom, bottom, $fade-in-time, $fade-in-time, #{$fade-in-distance}, ease-out);
//从左侧淡入
@include mixin-fade-move-in(left, left, $fade-in-time, $fade-in-time, -#{$fade-in-distance}, ease-out);
//从右侧淡入
@include mixin-fade-move-in(right, right, $fade-in-time, $fade-in-time, #{$fade-in-distance}, ease-out);

$fade-in-time-fast: .3s;
//从顶部淡入快速
@include mixin-fade-move-in(top-fast, top, $fade-in-time-fast, $fade-in-time-fast, -#{$fade-in-distance}, ease);
//从底部淡入快速
@include mixin-fade-move-in(bottom-fast, bottom, $fade-in-time-fast, $fade-in-time-fast, #{$fade-in-distance}, ease);
//从左侧淡入快速
@include mixin-fade-move-in(left-fast, left, $fade-in-time-fast, $fade-in-time-fast, -#{$fade-in-distance}, ease);
//从右侧淡入快速
@include mixin-fade-move-in(right-fast, right, $fade-in-time-fast, $fade-in-time-fast, #{$fade-in-distance}, ease);

//渐变进入
@mixin mixin-fade-in($speed, $transition-fun-in, $transition-fun-out){
  .transition-fade-in-enter-active{
    transition: opacity $speed $transition-fun-in;
  }
  .transition-fade-in-leave-active{
    transition: opacity $speed $transition-fun-out;
  }
  .transition-fade-in-enter, .transition-fade-in-leave-to{
    opacity: 0;
  }
  .transition-fade-in-enter-to, .transition-fade-in-leave{
    opacity: 1;
  }
}
@include mixin-fade-in(1s, ease-in, ease-out);
