@import "mixin-common";
@import "var-color";
//title
.h1{
  font-size: 36px;
}
.h2{
  font-size: 30px;
}
.h3{
  font-size: 24px;
}
.h4{
  font-size: 20px;
}
.h5{
  font-size: 14px;
}
.h6{
  font-size: 12px;
}

//text
@each $name,$color in $text-color-map{
  .color-#{$name}{
    color: #{$color};
  }
}
@each $name,$color in $color-map{
  .color-#{$name}{
    color: #{$color};
  }
}
//hover color
@each $name,$color in $text-color-map{
  .color-#{$name}-hover:hover{
    color: #{$color} !important;
  }
}
@each $name,$color in $color-map{
  .color-#{$name}-hover:hover{
    color: #{$color} !important;
  }
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.text-bold{
  font-weight: bold;
}

//单行文本省略
.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@for $i from 1 through 3{
  .text-ellipsis-#{$i}{
    @include text-ellipsis($i)
  }
}

//选择
.select-none{
  user-select: none;
}

.block-link{
  display: block;
  height: 100%;
}
