@import "var-color";
.bg-gainsboro{
  background-color: gainsboro;
}
.bg-white{
  background-color: white;
}
.bg-gray{
  background-color: gray;
}
.bg-mask{
  background-color: rgba(200, 200, 200, .5);
}
.bg-transparent{
  background-color: transparent;
}
.bg-selected{
  background-color: $color-selected;
}
